/* font style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */



/* Shared styles */

.display-flex {
    display: flex;

}

main>section {
    margin-top: 130px;
}

/* header styles */

.bg-light {
    background-color: #FFF4E7;
}


/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}


.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
}

.brand {
    font-weight: 700;
    font-size: 2em;
}

/* dark-02 */
.text-grey {
    color: #424242;
}

/* dark-03 */
.text-light-grey {
    color: #727272;
}

.text-primary {
    color: #FF900E;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-weight: 700;
    font-size: 1em;
    border-radius: 4px;
    border: none;
}

.banner-image {
    width: 100%;
}


main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams {
    align-items: center;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
    /* border: 2px solid red; */

}

.section-title {
    font-size: 2.8em;
    font-weight: 700;
}

#quick-list {
    font-weight: 500;

}

/* responsive media query */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-link,
    .teams {
        flex-direction: column;
    }

    .team-image-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin-left: 10px;
    }

}

/* medium size device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
}

.fact-card{
    border: 2px solid #FFBA68;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-number{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 5px 10px;
}

.fact-name{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5px;
}

.fact-description{
    max-width: 540px;
}

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding: 15px;
}

.feature-card{
    padding: 30px;
    box-shadow: 0 2px 10px 0;
    margin-bottom: 20px;
    border-radius: 5px;
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.features{
    gap: 100px;
}
